nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    margin-inline: auto;
    padding-block: 4rem;
}



nav .logo {
    width: 140px;
}


nav .page {
    font-size: 1.8rem;
    text-transform: capitalize;
}

nav .middle-content {
    display: flex;
    gap: 4rem;
    align-items: center;
}


@media (max-width: 1479px) {
    nav {
        width: 1200px;
    }
}


@media(max-width: 1233px) {
    nav {
        width: 900px;
    }
}