* {
  margin: 0;
  padding: 0;
  text-decoration: hidden;
  box-sizing: border-box;
}


html,
body {
  overflow-x: hidden;
}


html {
  font-size: 62.5%;
}



@media(max-width: 1479px) {
  section {
    width: 1200px;
    margin-inline: auto;
  }
}


@media(max-width: 1233px) {
  section {
    width: 900px;
    margin-inline: auto;
  }
}